body 
{
  font-size: 28px;
}

ul 
{
  list-style-type: none;
  /*margin: 0;*/
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  /*top: 0;*/
}

.listItems 
{
    float: left;
}

.listItems a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listItems a:hover 
{
  background-color: #111;
}

.active 
{
  background-color: #028CCC;
}

#banner
{
  width: 100% !important;
}

#topNavigation
{

}

.sticky 
{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content 
{
  padding-top: 102px;
}

#content
{
  height: 2000px;
  margin: 25px;
}

#siteName
{

}
